/* Coolors Exported Palette - coolors.co/aa94a8-514f82-8580af-d2afd2-ffd9cb */

/* HSL */
$color1: hsla(305%, 11%, 62%, 1);
$color2: hsla(242%, 24%, 41%, 1);
$color3: hsla(246%, 23%, 59%, 1);
$color4: hsla(300%, 28%, 75%, 1);
$color5: hsla(16%, 100%, 90%, 1);

/* RGB */
$color1: rgba(170, 148, 168, 1);
$color2: rgba(81, 79, 130, 1);
$color3: rgba(133, 128, 175, 1);
$color4: rgba(210, 175, 210, 1);
$color5: rgba(255, 217, 203, 1);
$text-color:whitesmoke;


$colorA:#CBBFBB;
$colorB:#EABDA8;
$colorC:#493843;
$colorD:#61988E;


*{
    font-family: 'Open Sans', sans-serif;
}

table{
    margin: 10%;
}

th{
    
    background-color: $color2;
    color: $text-color;
}

tr{
    background-color: $text-color;
    color: black;

}




body{
    background-color:$colorA;
    background-image: url('../images/mountains-1412683_1280.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    
}

.div-background{
    margin-top: 10%;
    background-color: $color3;
    border-radius: 15px;
    padding: 20px;
    color: $text-color;
    
}
.div-background-login{
    background-color: $color3;
    border-radius: 15px;
    padding: 20px;
    
}

.review-background{
    background-color: $color5;
    border-radius: 15px;
    padding: 20px;
    color: $text-color;
}
h1{
    color: black;
}
h4,h3,h5{
    color:$color2;   
}

h6{
    color:black;
}
.div-head{

width: 100vw;
}

#register-login{
    color:#bbb;
}

#revSec{
    background-color: $color3;
    border-radius: 15px;
    padding: 20px;
    color: $text-color;
}

@media only screen and (max-width:1000px){
#reviewHeading{
    color: white;
}

}




