{% extends "layout.html" %}
{% block title %}
Search Result
{% endblock%}

{% block body %}
{% set active_page = 'searchResult' %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>

      {% for book in searchResults %}
      <tr>
        <td scope="row"><a href="{{url_for('bookDetails', isbn=book.isbn)}}"><strong>{{book.isbn}}</strong></a></td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.year}}</td>
      </tr>
      {% else %}
      <tr>
        <td style="text-align:center;" scope="row" colspan="4">No entry found!</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}
